body{
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
    background-image: url(image/pexels-photo-1546901.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.greetings{
    text-align: center;
    padding: 5px;
}
header h1{
    position: absolute;
    text-align: center;
    border-radius: 30px;
    padding: 6px 12px;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.8);
    width: 100%;
    padding: 20px;
    font-size: 40px;
    left : -1%;
}
.formbox{
    position: absolute;
    top: 50%;
    left: 53%;
    transform: translate(-60%,-40%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 20, 0, 0.8);
    box-sizing: border-box;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.formbox h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}
.formbox .txtbox{
    position: relative;
}
.formbox .txtbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}
.formbox .txtbox label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    pointer-events: none;
    transition: .5s;
}
.formbox .txtbox input:focus ~ label,
.formbox .txtbox input:valid ~ label
{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.btn{
    background: transparent;
    border: none;
    outline: none;
    color: white;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
a{
    position: absolute;
    left: 42%;
    bottom: 17px;
    color: white;
}
footer{
    text-align: center;
    background-color: transparent;
    color:rgba(0, 0, 0, 0.8);
    padding: 5px;
    margin-top: auto;
}